export PREFIX=/data/data/com.termux/files/usr
export HOME=/data/data/com.termux/files/home
export LANG=en_US.UTF-8
export MANPATH=$PREFIX/share/man
export SHEBANG=\#!$PREFIX/bin/sh

export TERMUX_PATH="/data/data/com.termux/files/usr/bin:/data/data/com.termux/files/usr/bin/applets"
export SYSTEM_PATH="/system/bin:/system/sbin:/system/xbin:/sbin"
export USER_PATH="$HOME/xbin"
export PATH="$TERMUX_PATH:$SYSTEM_PATH:$USER_PATH"

export LANG=en_US.UTF-8
export TMPDIR=/data/data/com.termux/files/usr/tmp
export TMP=/data/data/com.termux/files/usr/tmp
